/* You can add global styles to this file, and also import other style files */
@import'./assets/css/Bootstarp.min.css';
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
  }

  .current {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
  }
  
  .current:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
  }  
.cursor-pointer
{   
  cursor: pointer;
}